{% extends 'app_short/base.html' %} 
{% load static %}
{% block body %}
<div class="container">
    <table id="customers">
        <tr>
          <th>Long URL</th>
          <th>Short Url</th>
          <th>Status</th>
        </tr>
        {% for url in urls %}
            <tr>
                <td>{{ url.long_url }}</td>
                <td>{{ url.short_url }}</td>
                <td>{{ url.status }}</td>
            </tr>
        {% endfor %}
      </table>
</div>

{% endblock body %}